body {

    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {

           background-color: white;
           font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hashtag {

    background-color: aqua;
}

#info1 {

        background-color: rgb(42, 65, 165);
        color: aliceblue;

}